article
  progress value=job.progress

  header
    h1 = job.id

javascript:

  var source = new EventSource("#{{ url(job) + "/events" }}");

  source.addEventListener("update", function (event) {
    var data = JSON.parse(event.data);
    var progress = document.querySelector("progress");

    progress.value = data.progress;
  }, false);
